.dashboard {
	width: 100wh;
	height: 100vh;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
  transition: linear-gradient
}

.dashboard__date-circle {
  border: 1px solid red;
  width: 150px;
  height: 150px;
  border-radius: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3.0em;
  font-family: 'Kaushan Script', cursive;
}
