.home{
	height: 89vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.home__title {
	font-size: 6em;
	color: #FFF;
}

.home__subtitle {
	font-size: 1.5em;
}

.home__bubble {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 3px solid #482879;
	border-radius: 99%;
	width: 350px;
	height: 350px;
	background-color: #482879;
}
